<div th:fragment="rectangle-window" class="rectangle-fon">
    <div class = "d-flex flex-row">
        <ul class="nav align-items-center center_item">
            <li class="nav-item">
                <image th:src="@{/img/logo.png}"></image>
            </li>

            <li class="nav-item vertical-line">
                <span class="dropdown__name text-white header-elem-regular" onclick="selected(this)">Скачать прайс-лист</span>
            </li>
            <li class="nav-item">
                <span class="dropdown_name text-white header-elem-regular" onclick="selected(this)">Все</span>
            </li>
            <li class="nav-item">
                <span class="dropdown__name text-white header-elem-regular" onclick="selected(this)">ХК</span>
            </li>
            <li class="nav-item">
                <span class="dropdown__name text-white header-elem-regular" onclick="selected(this)">ГК</span>
            </li>
            <li class="nav-item">
                <span class="dropdown__name text-white header-elem-regular" onclick="selected(this)">Соленая</span>

            </li>
            <li class="nav-item">
                <span class="dropdown__name text-white header-elem-regular" onclick="selected(this)">Салаты</span>

            </li>
            <li class="nav-item">
                <span class="dropdown__name text-white header-elem-regular" onclick="selected(this)">Снеки</span>

            </li>
            <li class="nav-item">
                <span class="dropdown__name text-white header-elem-regular" onclick="selected(this)">Вяленая</span>

            </li>
            <li class="nav-item">
                <span class="dropdown__name text-white header-elem-regular" onclick="selected(this)">Сладости</span>

            </li>
            <li class="nav-item">
                <span class="dropdown__name text-white header-elem-regular" onclick="selected(this)">Другое</span>

            </li>
        </ul>
<!--        <ul id="" class="dropdown__menu">-->
<!--            <li class="dropdown__item">-->
<!--                <span class="dropdown_name text-white" onclick="selected(this)">Все</span>-->
<!--            </li>-->
<!--            <li class="dropdown__item">-->
<!--                <span class="dropdown__name text-white" onclick="selected(this)">ХК</span>-->
<!--            </li>-->
<!--            <li class="dropdown__item">-->
<!--                <span class="dropdown__name text-white" onclick="selected(this)">ГК</span>-->
<!--            </li>-->
<!--            <li class="dropdown__item">-->
<!--                <span class="dropdown__name text-white" onclick="selected(this)">Соленая</span>-->
<!--            </li>-->
<!--            <li class="dropdown__item">-->
<!--                <span class="dropdown__name text-white" onclick="selected(this)">Салаты</span>-->
<!--            </li>-->
<!--            <li class="dropdown__item">-->
<!--                <span class="dropdown__name text-white" onclick="selected(this)">Снеки</span>-->
<!--            </li>-->
<!--            <li class="dropdown__item">-->
<!--                <span class="dropdown__name text-white" onclick="selected(this)">Вяленая</span>-->
<!--            </li>-->
<!--            <li class="dropdown__item">-->
<!--                <span class="dropdown__name text-white" onclick="selected(this)">Сладости</span>-->
<!--            </li>-->
<!--            <li class="dropdown__item">-->
<!--                <span class="dropdown__name text-white" onclick="selected(this)">Другое</span>-->
<!--            </li>-->
<!--        </ul>-->

    </div>
</div>